doctype html
html(ng-app="StudentNotebook")
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="StudentNotebookController")
    block content

    block scripts